* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.primary-btn {
    background-color: #E9B44C;
    border: none;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 700;
}

header {
    background-color: #2E2622;
}

nav {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #E9B44C;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

    padding: 250px 0px;

    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
        url("./image/bg-image.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.our-story{
    max-width: 1280px;
    margin: 80px auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.our-story img{
    max-width: 100%;
    border-radius: 20px;
}

.story-content, .story-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.our-menu{
    background-color: #F1E7D8;
}

.menu-content{
    max-width: 1280px;
    padding: 80px 0px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card{
    width: 100%;
    max-width: 250px;
    height: 250px;
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.card-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-us{
    max-width: 1280px;
    margin: 80px auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about-us-cards{
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 30px;
gap: 100px;
}

.hours{
    max-width: 1280px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hours-text{
    text-align: center;
    margin-bottom: 30px;
}

table{
    width: 700px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #2E2622;
}

thead{
    background-color: #2E2622;
    color: #E9B44C;
}

tr{
    border: 1px solid #2E2622;
}
td{
    border: 1px solid #2E2622;
    padding: 10px 20px;
}

th{
    font-weight: 300;
    padding: 10px 20px;
}

thead th{
    font-weight: 700;
}



.open{
    max-width: 1280px;
    margin: 80px auto;
    background-image: url("./image/footer-img.avif");
    background-repeat: no-repeat;
    height: 360px;
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.open-text{
    background-color: white;
    position: absolute;
    top: 230px;
    left: 30px;
    width: 250px;
    padding: 20px 30px;
    border-radius: 10px;
}

.time{
    background-color: white;
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 30px 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
}


footer{
    background-color: #2E2622;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

footer a{
    text-decoration: none;
    color: beige;
    font-weight: 100;
    font-size: 14px;
}

.footer-content{
    max-width: 1280px;
    margin: auto;
    padding: 30px 0px;
}

.foot-top{
    display: flex;
    justify-content: space-between;
}

.foot-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid beige;
    margin: 30px 0px;
    padding: 30px 0px;
    color: beige;
    font-size: small;
}



/* ==========================
   Tablet
========================== */

@media screen and (max-width: 992px) {

    nav,
    .our-story,
    .menu-content,
    .about-us,
    .hours,
    .open,
    .footer-content {
        width: 90%;
    }

    nav {
        padding: 20px;
    }

    .nav-links {
        gap: 25px;
    }

    .hero {
        padding: 180px 30px;
    }

    .our-story {
        flex-direction: column;
        text-align: center;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: auto;
    }

    .about-us-cards {
        flex-direction: column;
        gap: 40px;
    }

    table {
        width: 100%;
    }

    .open {
        width: 90%;
        background-size: cover;
    }

    .foot-top {
        gap: 40px;
    }
}



/* ==========================
   Mobile
========================== */

@media screen and (max-width: 576px) {

    nav {
        width: 90%;
        flex-direction: column;
        gap: 20px;
    }

    .logo {
        justify-content: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .hero {
        padding: 120px 20px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 16px;
    }

    .our-story {
        width: 90%;
        flex-direction: column;
        text-align: center;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: auto;
    }

    .about-us {
        width: 90%;
    }

    .about-us-cards {
        flex-direction: column;
        gap: 30px;
    }

    .hours {
        width: 90%;
    }

    table {
        width: 100%;
        font-size: 14px;
    }

    th,
    td {
        padding: 8px;
    }

    .open {
        width: 90%;
        height: 450px;
        background-size: cover;
    }

    .open-text {
        width: auto;
        margin: 20px;
        top: 50px;
    }

    .time {
        margin: auto;
        top: 300px;
    }

    .footer-content {
        width: 90%;
    }

    .foot-top {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .foot-bottom {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .foot-ul{
        text-align: center;
    }
}